.img_con {
    width: 2%;
    height: 5%;
}



.grid-container {
    display: grid;
    grid-template-columns: 70% auto;
    gap: 10px;

    padding: 10px;
  }

  
.main_column {
  width: 100%;
}

body nav {
  background-color: rgb(131, 0, 0);
  height: fit-content;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 26, 26);
}
.grid-container > div {
    text-align: justify;
    padding: 20px;
    font-size: 30px;
  }

.video_s {
border-radius: 30px;
padding: 20px;
width: 90%;
height: 450px;
}
.video_size {
    border-radius: 20px;
    padding: 10px;
    width: 280px;
    height: 158px;
}



.img_login {
    border-radius: 50%;
    width: 5%;
    height: 15%;
  }

.display_left {
    display: flex;
    justify-content: left;
    padding-left: 1%;
}

.display_right {
    display: flex;
    justify-content: right;
    gap: 1px;
    padding-right: 1%;
}

.img_dbz {
    display: flex;
    justify-self: start;
    width: 30%;
    height: 55%;
  }


  .grid-container-nav {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 10px;

    padding: 10px;
  }

  
.video_desc {
  color: rgb(255, 255, 255);
  margin: 1em;
  width: 90%;
}
.form-t{
  margin-left: 1em;
  flex-grow: 0.9;
  max-width: inherit;
}
.button_com{
  display: flex;

}

.comentarios{
  display: flex;
  flex-direction: row;
  color: black;
}

.um_com{
  list-style: none;
  padding-left: 0.25em;
  font-size: medium;

}